<div class="content-heading">
  <div>Registro de usuarios
  </div>
</div>
<div class="container-fluid">
  <div class="row d-flex justify-content-center align-content-center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-6">
      <form [formGroup]="formregister" (submit)="submitForm(formregister.value)">
        <div class="card ">
          <div class="card-body">
            <fieldset class="b0">
              <legend>Datos del usuario</legend>
            </fieldset>
            <div class="row d-flex justify-content-center align-items-center">
              <div class="col-7">
                <div class="form-group row">
                  <input class="form-control d-none" formControlName="id" type="text" />

                  <div class="col">
                    <label>Nombre</label>
                    <input class="form-control" formControlName="name" type="text" />
                    <span class="text-danger" *ngIf="formregister.controls['name'].errors?.required">Ingresa un campo
                      válido</span>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col">
                    <label>Puesto</label>
                    <input class="form-control" type="text" formControlName="sms" />
                    <span class="text-danger" *ngIf="formregister.controls['sms'].errors">El puesto es obligatorio</span>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col">
                    <label>Numero de telefono</label>
                    <input class="form-control" type="number" formControlName="alcance" />
                    <span class="text-danger" *ngIf="formregister.controls['alcance'].errors">Ingresa una contraseña</span>
                  </div>
                </div>
          
              </div>

            
            </div>
          </div>
          <div class="card-footer card-default text-center" >
            <button class="btn btn-info" type="submit" *ngIf="formregister.valid"><em class="fa mr-2 fas fa-plus font-13" ></em>Agregar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> 
