<div class="main-container ">
  <div class="row">
    <div class="col-12">
      <h3 class="m-0">Lista de usuarios a notificar</h3>
    </div>
    <div class="col">
      <p class="text-18">Ve la lista de usuarios, edita, habilita/deshabilita o agrega nuevos.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-4">

  </div>
  <div class="col text-right">
    <button class="mb-1 mr-1 btn btn-success" type="button" routerLink="/user/new">Agregar nuevo
      usuario</button>
  </div>
</div>
<div class="main-container">
  <div class="row">
    <div class="col">
      <div class="card card-default mt-4">
        <div class="card-body ">
          <ngx-datatable #table class="bootstrap expandable material fullscreen "
            style="height: calc(90vh - 270px); box-shadow: none; width: 100%;" [columnMode]="'force'"
            [headerHeight]="50" [footerHeight]="50" [rowHeight]="60" [scrollbarV]="true" [scrollbarH]="true"
            [rows]='listregister' (page)="onPage($event)">
            <!-- Column Templates -->
            <ngx-datatable-column name="#" [width]="40" [canAutoResize]="false">
              <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <strong>{{rowIndex + 1}}</strong>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Nombre(s)">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.name}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Puesto">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <strong>{{row.job }}</strong>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Telefono">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.phone}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Nortificar">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.notify}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Acción">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button class="btn btn-success m-1" type="button" [routerLink]="['/user/',row.id]">
                  <a class="fas fa-pencil-alt"></a> </button>
                <button class="btn btn-danger" (click)="delete(row)">
                  <a class="fas fa-trash-alt"></a>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
